@use '../../assets/styles/' as *;

.btn {
    padding: 13px 40px 13px 38px;   
    background-color: $black-color;
    min-width: 142px;
    max-width: max-content;
    color: $white-color;
    transition: all .2s linear;
    border: 1px solid $black-color;
    &:hover {
        cursor: pointer;
        color: $black-color;
        background-color: $white-color;
        border: 1px solid $black-color;
    }
    &-trans {
        transition: all .2s linear;
        padding: 13px 40px 13px 38px;   
        min-width: 142px;
        max-width: max-content;
        color: $black-color;
        background-color: $white-color;
        border: 1px solid $black-color;
        transition: all .2s linear;
        &:hover {
            cursor: pointer;
            color: $white-color;
            background-color: $black-color;
            border: 1px solid $black-color;
        }
        &.width-100 {
            width: 100%;
            max-width: 100%;
        }
    }
}