@use '../../../assets/styles/' as *;

.modal-tag {
    background-color: $red-color;
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 20px solid $red-color;

    }
    &.blue {
        background-color: #2233ff;
        &::after {
            border-top: 20px solid #2233ff;
        }
    }
}