@use '../../assets/styles/' as *;

.modal {
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding-bottom: 70px;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba($color: $black-color, $alpha: .8);
    }

    &-main {
        background-color: $white-color;
        width: 80%;
        margin: 0 auto;
        z-index: 100;
        height: max-content;
        display: block;
    }

    &-header {
        border-bottom: 1px solid $light-grey-color;
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__wrap {
            margin: 40px 60px 50px;
            display: flex;
            gap: 30px;
            img {
                width: 119px;
                height: 119px;
            }
            &--in4 {
                h2 {
                    font-size: 30px;
                    font-weight: 500;
                }
                .wrapper {
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    font-size: 15.5px;
                    font-weight: 300;
                    margin: 10px 0 20px;
                    span {
                        color: $grey-color-4;
                    }
                }
            }
            &--btns {
                display: flex;
                gap: 4px;
            }
        }
        &__right {
            margin: 40px 60px 50px;
        }
    }

    &-images {
        padding: 50px;
        &__main {
            position: relative;
            margin-bottom: 40px;
            &--bg {
                width: 100%;
            }
            &--play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
            &--btn {
                color: $white-color;
                img {
                    width: 74px;
                    height: 74px;
                }
                &-prev {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -134px;
                }
                &-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -134px;
                }
            }
        }
        p {
            font-size: 14px;
            font-weight: 200;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: left;
            color: $black-color;
            margin-bottom: 100px;
        }
        &__list {
            padding: 0 150px 50px;
            display: flex;
            flex-direction: column;
            gap: 70px;
            border-bottom: 1px solid $light-grey-color;
            li {
                img {
                    width: 100%;
                }
            }
        }
        &__footer {
            margin: 50px auto;
            width: fit-content;
            h1 {
                font-size: 30px;
                font-weight: normal;
            }
            &--icon-list {
                margin-top: 20px;
                display: flex;
                gap: 20px;
                justify-content: center;
            }
            &-icon {
                display: flex;
                gap: 7px;
                i {
                    font-size: 16px;
                }
                span {
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            p {
                text-align: center;
                margin: 40px 0 50px;
                font-size: 15.5px;
                font-weight: 300;
            }
            &--btns {
                display: flex;
                gap: 10px;
                justify-content: center;
            }
        }
    }

    &-banner {
        // width: 100%;
        background-color: $light-grey-color;
        padding: 50px 60px;
        overflow: hidden;
        &__user {
            display: flex;
            gap: 16px;
            align-items: center;
            img {
                width: 70px;
                height: 70px;
            }
            span {
                font-size: 18px;
                font-weight: 500;
            }
        }
        &__list {
            display: flex;
            gap: 15px;
            position: relative;
        }
        &__next {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            img {
                width: 44px;
                height: 44px;
            }
        }
    }

    &-comment {
        display: flex;
        width: 100%;
        &-right{
            max-width: 1100px;
            border-right: 1px solid $light-grey-color;
            padding: 50px 60px;
            h1 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            &__input {
                display: flex;
                input {
                    flex: 1;
                    padding: 15px;
                    border: solid 1px $black-color;
                    background-color: $white-color;
                }
                button {
                    width: 70px;
                    height: inherit;
                    background-color: $black-color;
                    color: $white-color;
                    transform: translateX(-2px);
                    i {
                        font-size: 18px;
                    }
                }
            }
            &__list {
                margin: 50px 0;
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
            &__item {
                &--wrap {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    h2 {
                        font-size: 14px;
                        font-weight: 500;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 300;
                        margin-top: 6px;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 200;
                    margin-top: 13px;
                }
            }
        }
        &-left {
            flex: 1;
            &__item {
                border-top: 1px solid $light-grey-color;
                padding: 50px 50px 40px;
                h5 {
                    font-size: 12px;
                    font-weight: 300;
                    color: $grey-color-4;
                }
                h2 {
                    font-style: 16px;
                    font-weight: 500;
                }
                p {
                    font-size: 12px;
                    font-weight: 300;
                }
                &--user {
                    margin-top: 19px;
                    display: flex;
                    gap: 17px;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    h1 {
                        font-size: 14px;
                        font-weight: 500;
                    }
                    span {
                        display: inline;
                        font-size: 12px;
                        font-weight: 300;
                        color: $grey-color-4;
                        img{
                            width: 12px;
                            height: 12px;
                            margin-right: 7px;
                        }
                    }
                }
                &--icons {
                    display: flex;
                    gap: 15px;
                    margin: 15px 0 20px;
                    span {
                        font-size: 12px;
                        font-weight: 300;
                        i {
                            font-size: 14px;
                            margin-right: 4px;
                        }
                    }
                }
                &--field {
                    display: flex;
                    gap: 5px;
                    margin-top: 16px;
                    img {
                        height: 30px;
                    }
                }
                &--tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4px;
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        padding: 9px 10px 8px;
                        border: solid 1px $red-color;
                        color: $red-color;
                    }
                }
            }
        }
    }

    &-close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 10;
        cursor: pointer;
        i {
            font-size: 24px;
            color: $white-color;
        }
    }

    &-tools {
        position: absolute;
        z-index: 10;
        right: 90px;
        top: 210px;
        &-item {
            width: 70px;
            height: 70px;
            background-color: $white-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid $black-color;
            i {
                font-size: 16px;
            }
            span{
                margin-top: 8px;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

    &-tags {
        position: absolute;
        top: 0;
        right: 250px;
        z-index: 100;
        display: flex;
        gap: 10px;
    }

    &.d-none {
        display: none;
    }
}
@media (max-width:1140px) {
    .modal {
        &-header {
            flex-direction: column;
            align-items: flex-start;
            &__wrap {
                flex-direction: column;
            }
            &__footer {
                h1 {
                    text-align: center;
                }
            }
        }
        &-images {
            &__list {
                padding: 0 20px 50px;
            }
        }
        &-banner {
            width: auto;
            flex-wrap: wrap;
        }
        &-comment {
            flex-direction: column;
        }
    }
}

@media (max-width:650px) {
    .modal {
        &-header {
            &__wrap {
                &--btns {
                    flex-direction: column;
                }
            }
        }
        &-images {
            padding: 0 20px;
            &__main {
                &--btn {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                    &-prev {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -84px;
                    }
                    &-next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -84px;
                    }
                }
                &--play {
                    width: 20%;
                }
            }
            &__footer {
                &--btns {
                    flex-direction: column;
                }
            }
            &__list {
                padding: 0 30px 20px;
            }
        }
        &-comment{
            &-right {
                padding: 20px 25px;
            }
            &-left {
                &__item {
                    padding: 30px 30px 20px;
                }
            }
        }
    }
}