@use '../../assets/styles/' as *;

.img-compo {
    width: 360px;
    margin-top: 30px;
    &__head {
        width: 100%;
        position: relative;
        &--label {
            position: absolute;
            top: 0;
            left: 10px;
            width: 30px;
        }
        &--cmt {
            width: 151px;
            word-wrap: break-word;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            position: absolute;
            left: 13px;
            bottom: 15px;
        }
        span {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }
    &__img {
        width: 100%;
        height: 204px;
        object-fit: cover;
        object-position: center;
    }
    &__foot {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__user {
        display: flex;
        align-items: center;
        img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
        span {
            font-size: 12px;
            font-weight: 300;
            i {
                font-size: 12px;
                transform: translateY(1px);
            }
        }
    }
    &__icons {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 15px;
        i {
            font-size: 12px;
            margin-left: 3px;
        }
    }
}