$red-color: #ff2e43;
$black-color: #070707;
$grey-color-1: #8f8f8f;
$grey-color-2: #9b9b9b;
$grey-color-3: #f7f7f7;
$grey-color-4: #8c8c8c;
$light-grey-color: #efefef;
$white-color: #fff;
$blue-color: #2233ff;

$font-20: 20px;
$font-18: 18px;
